.addcontact
	div.controls
		a.addLink 
			i.icon-im-add-user
			| Add Contact
	.form
		.form-row
			input.cell.jid(type="text", placeholder="Account ID")
		.form-row
			input.cell.name(type="text", placeholder="Name")
		.form-row
			button.cancelLink Cancel
			button.button.add Add

