.addcontact
	div.controls
		a.addLink 
			i.icon-im-add-user
			| Add Contact
	.form
		.form-row
			input.cell.input(type="text", placeholder="type name")
			.search
				.searchResultsContent
				.searching
					| Searching...
		.form-row
			button.cancelLink Cancel
			button.button.add Add

