.addcontact
	div
		a.addLink + Add Contact
		a.cancelLink Cancel
	.form
		.table.fixed
			.row
				span.cell Jabber ID
				input.cell.jid(type="text")
			.row
				span.cell Name
				input.cell.name(type="text")
		div
			button.button.add Add

