.addcontact
	div
		a.addLink Add Contact
		a.cancelLink Cancel
	.form
		.table.fixed
			.row
				span.cell 
					Jabber ID
				input.cell.jid
			.row
				span.cell
					Name
				input.cell.name
		div
			button.button.add Add

