.bdsft-webrtc
  .xmpp.fadeable.popup.classes.centered
    .table.fixed.loginForm
      .row
        label.cell Name:
        input.cell.name(type='text', name='name', placeholder='Email')
      .row
        label.cell Password:
        input.cell.password(type='password', name='password')
      .row
        .cell
        button.login.button(type='button') Connect
    .content.fixed.table
      .row
        .rosterHolder.cell
          select.rosterSelect(size='10')
        .messagesHolder.cell
          .messages
          textarea.chatInput
