.bdsft-webrtc
  .xmpp.fadeable.classes.topright
    .loginView.table.fixed
      .row
        label.cell Name:
        input.cell.name(type='text', name='name', placeholder='Email')
      .row
        label.cell Password:
        input.cell.password(type='password', name='password')
      .row
        .cell
        button.login.button(type='button') Connect
    .contentView
      .contactsView
        .removeContactFailed.error
        .myContactHolder
        .addContactHolder
        .contactsContent
      .chatsView
        .chatsContent
        .chatTabHolder
      .subscriptionsHolder
