.bdsft-webrtc
  .xmpp.fadeable.classes.topright
    .loginView
      .form-row
        label Name
        input.name(type='text', name='name', placeholder='Email')
      .form-row
        label Password
        input.password(type='password', name='password')
      .form-row
        button.login.button(type='button') Connect
    .contentView
      .contactsHolder
      .chatsHolder
      .subscriptionsHolder
