.bdsft-webrtc
	.addcontact
		margin-bottom: 14px;
		.addLink
			border none
			border-radius 0
			padding 5px 10px
			font-size 14px
			color #FFF
			background-color #737373
			text-align center
			display inline-block
			text-decoration none
			margin-left 10px
		.cancelLink
			display none
		.form
			display none
			span
				width 65px
			input
				background white
				color black
				width 120px
				font-size 12px