.bdsft-webrtc
	.chatsView
		display none
		position absolute
		top 0px
		left 285px
		min-width 323px
		min-height 250px
		background-color #F3F3F3
		border 1px solid #D6D6D6
		.chatsContent
			position relative
		&.contactSelected
			display block

