.bdsft-webrtc
	.contactsView
		border 1px solid black
		position absolute
		top 0
		left 2px
		min-width 280px
		min-height 519px
		background-color #F3F3F3
		border 1px solid #D6D6D6
		.removeContactFailed
			display none
		.error
			color red
