.bdsft-webrtc
	.contact
		cursor pointer
		height 42px
		background-color #FBFBFB
		border-top 1px solid #DDD
		position relative
		&:last-child
			border-bottom 1px solid #DDD
		.name
			position absolute
			font-weight bold
			left 30px
			top 11px
			color #606060
			cursor pointer
		.presence
			width 12px
			height 12px
			display block
			position absolute
			top 15px
			left 8px
			background none
			cursor pointer
		&.available .presence
			color #54C523
		.close
			display none
		.remove
			display none
			position absolute
			right 14px
			top 14px
			text-decoration none
			width 14px
			text-align center
			line-height 13px
			border-radius 10px
			padding-bottom 2px
			font-size 16px
			color #989898
			&:hover
				color #666
		&:hover
			background #EEE
			.remove
				display: inline-block