.bdsft-webrtc
	.contact
		cursor pointer
		height 42px
		background-color #FBFBFB
		border-top 1px solid #DDD
		position relative
		&:last-child
			border-bottom 1px solid #DDD
		.name
			display inline-block
			font-weight bold
			color #606060
			cursor pointer
			vertical-align bottom
			line-height 11px
			width 220px
			text-overflow ellipsis
			white-space nowrap
			overflow hidden
		.presence
			width 12px
			height 12px
			display inline-block
			cursor pointer
			vertical-align top
			margin-left 10px
			margin-right 12px
			margin-top 14px
		&.available .presence
			color #54C523
		&.busy .presence
			color #FFC107
		&.dnd .presence
			color #F44336
		&.unavailable .presence
			color #9E9E9E
		.close
			display none
		.remove
			display none
			text-decoration none
			float right
			font-size 16px
			color #989898
			margin-top 14px
			margin-right 10px
			&:hover
				color #666
		&:hover
			background #EEE
			.remove
				display: inline-block