.bdsft-webrtc
	.mycontact
		margin 10px
		.presence
			background #868686
			width 13px
			height 13px
			border-radius 13px
			display inline-block
			margin-left 2px
		&.available .presence 
			background #54C523
		.name
			font-weight bold
			margin 0 5px
			font-size 18px
			color #616161
			display inline-block
		.presenceSelect
			display block
			width 80px
			background-color rgba(0, 0, 0, 0)
			border none
			width 80px
