.bdsft-webrtc
	.subscriptionsView
		display none
		border 1px solid black
		position absolute
		top 160px
		left 10px
		min-width 150px
		min-height 150px
		.closeHolder
			text-align right
	
	.hasSubscriptions .subscriptionsView
		display block
