@import '../styles/xmpp-icons.styl'
.bdsft-webrtc
	.xmpp
		@require './jquery.ui.resizable.styl'
		border-spacing 5px
		padding 0
		position absolute

		.loginView
			padding 14px
			background-color #F3F3F3
			border 1px solid #D6D6D6
			width 254px
			height 491px
			.logo-container 
				text-align center
				margin-bottom 30px
				i
					font-size 60px
					color #737373
			.form
				width 200px
				margin 0 auto
				margin-top 90px
			label
				display block
				font-weight bolder
				color #606060
				margin-bottom 2px
				font-size 13px
			input
				display block
				background #FFFFFF
				border 1px solid #D6D6D6
				color #606060
				font-size 14px
				padding 8px
				border-radius 0
				width 100%
				box-sizing border-box
				&::-webkit-input-placeholder
					color #D3D3D3
				&:-moz-placeholder
					font-style italic
					color #D3D3D3
				&::-moz-placeholder
					color #D3D3D3
				&:-ms-input-placeholder
					color #D3D3D3
			button
				border none
				border-radius 0
				padding 5px 10px
				font-size 14px
				color #FFF
				background-color #737373
				text-align center
				display inline-block
				width 100%
				line-height 25px
				box-sizing border-box
				border-radius 4px
			.form-row
				margin-bottom 6px
				&:last-child
					margin-top 10px
					margin-bottom 0
					text-align center
		.contentView
			position relative
		a
			text-decoration underline
			
		&.connected .contentView,
		&:not(.connected) .loginView
			display block
			
		&.connected .loginView,
		&:not(.connected) .contentView
			display none


	.enableXMPP.xmpp-shown.xmpp
		{fadeInPopup}

	.enableXMPP.xmpp-hidden.xmpp
		{fadeOut}