.bdsft-webrtc
	.xmpp
		@require './jquery.ui.resizable.styl'
		border-spacing 5px
		padding 0
		position absolute

		.loginView
			padding 10px
		.contentView
			position relative
			.contactsView
				border 1px solid black
				position absolute
				top 0
				left 10px
				min-width 200px
				min-height 150px
				overflow auto
				.contact.unavailable
					{flicker}
				.contact.available
					{fadeInAnimated}
				.removeContactFailed
					display none
				.error
					color red
			.chatsView
				border 1px solid black
				display none
				position absolute
				top 0px
				left 220px
				height 100%
				min-width 150px
				min-height 150px
				width 150px
				height 150px
				overflow auto
				.chatsContent
					height 100%
					margin-bottom -20px
		a
			text-decoration underline
			
		&.contactSelected .chatsView
			display block

		&.connected .contentView,
		&:not(.connected) .loginView
			display block
			
		&.connected .loginView,
		&:not(.connected) .contentView
			display none


	.enableXMPP.xmpp-shown.xmpp
		{fadeInPopup}

	.enableXMPP.xmpp-hidden.xmpp
		{fadeOut}