.bdsft-webrtc
	.xmpp
		@require './jquery.ui.resizable.styl'
		color #999
		border-spacing 5px
		padding 0

		.loginView
			padding 10px
		.contentView
			min-width 300px
			min-height 300px
			height 100%
			position relative
			padding 10px
			.contacts
				float left
		.chatsView 
			display none
			height 100%
			overflow auto

		&.contactSelected .chatsView
			display block

		&.connected .contentView,
		&:not(.connected) .loginView
			display block
			
		&.connected .loginView,
		&:not(.connected) .contentView
			display none


	.enableXMPP.xmpp-shown.xmpp
		{fadeInPopup}

	.enableXMPP.xmpp-hidden.xmpp
		{fadeOut}