@import 'font-face'
font-face-inline('xmpp-icons', 'xmpp-icons', '../fonts')

.bdsft-webrtc
	.xmpp
		[class^="icon-im-"], [class*=" icon-im-"] {
			font-family: 'xmpp-icons';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon-im-comment-o:before {
			content: "\f0e5";
		}
		.icon-im-circle-o:before {
			content: "\f10c";
		}
		.icon-im-circle:before {
			content: "\f111";
		}
		.icon-im-smile-o:before {
			content: "\f118";
		}
		.icon-im-phone:before {
			content: "\e600";
		}
		.icon-im-phone-hang-up:before {
			content: "\e601";
		}
		.icon-im-address-book:before {
			content: "\e602";
		}
		.icon-im-attachment:before {
			content: "\e603";
		}
		.icon-im-email:before {
			content: "\e604";
		}
		.icon-im-remove-user:before {
			content: "\e605";
		}
		.icon-im-add-user:before {
			content: "\e606";
		}
		.icon-im-user:before {
			content: "\e607";
		}
		.icon-im-users:before {
			content: "\e608";
		}
